@model E_Mall.Models.Urun
@{
    ViewBag.Title = "UrunEkle";
}
<div class="row">
    <div class="col-xl-12" style="align: center">
        <h4> ÜRÜN EKLE</h4>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
        <div style="border: 1px solid #000000; padding: 20px; border-radius: 20px; margin-right: 20px">
            <fieldset class="form-group">
                <p><label for="name">Ürün Adı</label> <input class="form-control" type="text" placeholder=" Ürün Adını Giriniz" /></p>
                <p><label for="name">Açıklama</label> <input class="form-control" type="text" placeholder=" Ürüne Ait Kısa Açıklama Giriniz" /></p>
                <p><label for="name">SKU</label> <input class="form-control" type="text" placeholder=" Ürünün SKU Kodunu Giriniz" /></p>
                <p><label for="name">Etiket</label> <input class="form-control" type="text" placeholder=" Ürünün Etiketini Giriniz" /></p>
                <p><label for="name">Başlangıç Tarihi</label> <input class="form-control" type="date" /></p>
                <p><label for="name">Bitiş Tarihi</label> <input class="form-control" type="date" /></p>
            </fieldset>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
        <div style="border: 1px solid #000000; padding: 20px; border-radius: 20px; margin-right: 20px;height: 100%">
            <fieldset class="form-group">
                <p><label for="name">Ağırlık (kg)</label> <input class="form-control" type="text" placeholder=" Ürünün Ağırlığını Giriniz" /></p>
                <p><label for="name">Uzunluk (m)</label> <input class="form-control" type="text" placeholder=" Ürünün Uzunluğunu Giriniz" /></p>
                <p><label for="name">Genişlik (m)</label> <input class="form-control" type="text" placeholder=" Ürünün Genişliğini Giriniz" /></p>
                <p><label for="name">Yükseklik (m)</label> <input class="form-control" type="text" placeholder=" Ürünün Yüksekliğini Giriniz" /></p>
            </fieldset>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 mb-1" style="margin-top: 20px;">
        <div style="border: 1px solid #000000; padding: 20px; border-radius: 20px; margin-right: 20px;">
            <fieldset class="form-group">
                <p><label for="name">Fiyat</label> <input class="form-control" type="text" placeholder=" Ürünün Fiyatını Giriniz" /></p>
                <p><label for="name">Eski Fiyat</label> <input class="form-control" type="text" placeholder=" Ürünün Eski Fiyatını Giriniz" /></p>
                <p><label for="name">Maliyet</label> <input class="form-control" type="text" placeholder=" Ürünün Maliyetini Giriniz" /></p>
            </fieldset>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 mb-1" style="margin-top: 20px;">
        <div style="border: 1px solid #000000; padding: 20px; border-radius: 20px; margin-right: 20px; height: 100%;">
            <fieldset class="form-group">
                <p><label for="name">Kategoriler</label> <input class="form-control" type="text" placeholder=" Ürünün Kategorisini Giriniz" /></p>
                <p><label for="name">Üreticiler</label> <input class="form-control" type="text" placeholder=" Ürünün Üreticisini Giriniz" /></p>
            </fieldset>
        </div>
    </div>
</div>

